@font-face {
    font-family: 'Gameplay';
    src: url('/fontes/Gameplay.ttf') format('truetype');
}

@font-face {
    font-family: 'Pixelitalic';
    src: url('/fontes/PixelDigivolveItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Digital';
    src: url('/fontes/digital-7.ttf') format('truetype');
}

* {
    font-family: 'Gameplay', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}


[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-color: green;
    overflow: hidden;
}

.carro {
    position: absolute;
    width: 120px;
    z-index: 99;
    image-rendering: pixelated;
}

.jogador {
    position: absolute;
    width: 120px;
    left: calc(50% - 100px);
    image-rendering: pixelated;
    z-index: 100;
}

.col {
    position: absolute;
    border: 2px solid dodgerblue;
    z-index: 250;
}

.linha{
    position: absolute;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-width: 1px;
    z-index: 50;

}

.asfalto {
    position: absolute;
    background-size: 9px;
    width: 100%;
    height: 100%;
}

.p {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    background-image: repeating-linear-gradient(0deg, rgb(44, 44, 44) 0% 50%, rgba(255,255,255,0) 50% 100%);
    background-size: 200px 30px;
    filter: saturate(200%);
    transform: matrix3d(1.8,0,0.00,0
                        ,0.00,0.71,0.71,-.007
                        ,0,-0.71,0.71,0
                        ,0,0,0,2.3);
    transform-style: preserve-3d;
    
}
.ps {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(2,0,36,0) 10%, rgb(15, 15, 15) 40%, rgba(0,0,0,1) 100%);
}

.estrada {
    width: 100%;
    height: 100%;
    position: absolute;
}

.efeitos {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sobre {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: 200;
}

.ceu {
    position: absolute;
    width: 100%;
    height: 42.2%;
    background-position: center;
    background-size: cover;
    background-color: #1e528e;
    z-index: 199;
    background: linear-gradient(2deg, #00fff2, #9b7700, #000000, #000000, #00028f);
    background-size: 1000% 1000%;

    animation: AnimationName 59s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

.paralax {

}

.UI {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 300;
}
.meters {
    position: absolute;
    left: 30px;
    width: 190px;
    height: 190px;
    bottom: 30px;
    background: url('/img/velo.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 190px;
    image-rendering: pixelated;
}
.pointerv {
    position: inherit;
    width: 190px;
    image-rendering: pixelated;
    transform: rotate(-20deg);
}
.pointerg {
    position: inherit;
    width: 190px;
    left: 61px;
    bottom: -90px;
    transform: rotate(30deg);
    image-rendering: pixelated;
}
.velo {
    position: inherit;
    font-family: 'digital';
    font-size: 30px;
    bottom: 25px;
    right: 74px;
}
.odo {
    position: absolute;
    background-color: black;
    width: 300px;
    height: 100px;
    right: 10px;
    bottom: 30px;
}
.status {
    position: absolute;
}
.posdiv {
    position: absolute;
    background-color: green;
    width: 215px;
    height: 100px;
    left: 0px;
    transform: scaleX(0);
    z-index: 1;
}
.voltaanim{
    animation: volta .3s ease-in-out;
}
@keyframes volta {
    0%{transform-origin: bottom left;
        transform: scaleX(0);}
    49%{transform-origin: bottom left;}
    50%{transform: scaleX(1);}
    51%{transform-origin: bottom right;}
    100%{transform: scaleX(0);
        transform-origin: bottom right;}
}

.pos {
    position: absolute;
    font-family: 'Pixelitalic';
    right: -200px;
    font-size: 80px;
}
.vol {
    position: absolute;
    font-family: 'Pixelitalic';
    font-size: 40px;
    left: 240px;
}
