@font-face {
    font-family: 'Gameplay';
    src: url('/fontes/Gameplay.ttf') format('truetype');
}

@font-face {
    font-family: 'Pixelitalic';
    src: url('/fontes/PixelDigivolve-Italictes.ttf') format('truetype');
}

@font-face {
    font-family: 'Digital';
    src: url('/fontes/digital-7.ttf') format('truetype');
}

* {
    font-family: 'Gameplay', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}


[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px;
    overflow: hidden;
}

.carro {
    position: absolute;
    width: 120px;
    z-index: 99;
    image-rendering: pixelated;
}

.jogador {
    position: absolute;
    width: 120px;
    left: calc(50% - 100px);
    image-rendering: pixelated;
    z-index: 100;
}

.col {
    position: absolute;
    border: 2px solid dodgerblue;
    z-index: 250;
}

.linha{
    position: absolute;
    border-style: solid;
    
    background-color: #fff;
    border-color: white;
    border-radius: 70px;
    border-bottom: 100px;
}

.asfalto {
    position: absolute;
    background-size: 9px;
    width: 100%;
    height: 100%;
}

.p {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(0deg, rgb(44, 44, 44) 0% 50%, #1f1f1f 50% 100%);
    background-size: 200px 30px;
    transform: matrix3d(5,0,0.00,0
                        ,0.00,0.71,0.71,-.007
                        ,0,-0.71,0.71,0
                        ,0,0,0,2.3);
    transform-style: preserve-3d;    
}
.g {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(0deg, #6b947b 0% 50%, #466150 50% 100%);
    background-size: 200px 30px;
    transform: matrix3d(5,0,0,0
                        ,0,0.71,0.71,-.007
                        ,0,-0.71,0.71,0
                        ,0,0,0,2.3);
    transform-style: preserve-3d;
    z-index: -1;
}

.ps {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(2,0,36,0) 10%, rgb(15, 15, 15) 40%, rgba(0,0,0,1) 100%);
}
.pg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(2,0,36,0) 10%, #6b947b 60%, #4f6d5a 100%);
}

.estrada {
    width: 100%;
    height: 100%;
    position: absolute;
}

.efeitos {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sobre {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .0;
    z-index: 200;
}

.ceu {
    position: absolute;
    width: 100%;
    height: 42.5%;
    background-size: cover;
    background-image: url(/img/back_2.png);
    z-index: 200;
    image-rendering: pixelated;
}

.UI {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 300;
}

.meters {
    position: absolute;
    left: 30px;
    width: 190px;
    height: 190px;
    bottom: 30px;
    background: url('/img/velo.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 190px;
    image-rendering: pixelated;
}

.pointerv {
    position: inherit;
    width: 190px;
    image-rendering: pixelated;
    transform: rotate(-20deg);
}

.pointerg {
    position: inherit;
    width: 190px;
    left: 61px;
    bottom: -90px;
    transform: rotate(30deg);
    image-rendering: pixelated;
}

.velo {
    position: inherit;
    font-family: 'digital';
    font-size: 30px;
    bottom: 25px;
    right: 74px;
}

.status {
    position: absolute;
}

.posdiv {
    position: absolute;
    background-color: green;
    width: 215px;
    height: 100px;
    left: 0px;
    transform: scaleX(0);
    z-index: 1;
}

.voltaanim{
    animation: volta .3s ease-in-out;
}

@keyframes volta {
    0%{transform-origin: bottom left;
        transform: scaleX(0) skew(-100deg);}
    49%{transform-origin: bottom left;}
    50%{transform: scaleX(1) ;}
    51%{transform-origin: top right;}
    100%{transform: scaleX(0);
        transform-origin: top right;}
}

.points {
    position: absolute;
    font-family: 'Pixelitalic';
    right: -1170px;
    font-size: 80px;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.pos {
    position: absolute;
    font-family: 'Pixelitalic';
    right: -200px;
    font-size: 80px;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.vol {
    position: absolute;
    font-family: 'Pixelitalic';
    font-size: 40px;
    left: 240px;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
